#mainNavbar {
  width: 80%;
  margin: auto;
}

.brand {
  color: rgb(0, 0, 0);
  margin: 0;
}

.brand:hover {
  color: rgb(198, 197, 197);
}
.nav-item .brand.nav-link {
    margin: 5%;
    padding: 10px; /* Adjust the padding to your preference */
    border-radius: 5px; /* Adjust the border-radius to your preference */
    background-color: rgb(0, 121, 202); /* This sets the background color to red */
    color: white; /* This sets the text color to white, assuming that's what you want */
    text-decoration: none; /* This removes the underline from the links */
  }
  
  /* Changes the color to white on hover and maintains the red background */
  .nav-item .brand.nav-link:hover {
    color: white; /* This ensures text color stays white on hover */
    background-color: rgb(3, 66, 150); /* Optional: Change to a darker red on hover */
  }

.nav-link {
  padding: 0.5rem 1rem; /* Vertical and horizontal padding for nav links */
  color: #555555; /* A slightly lighter grey for regular nav items */
  transition: color 0.3s ease-in-out; /* Smooth color transition for hover */
}

.nav-link:hover,
.nav-link:focus {
  color: #007bff; /* Highlight color on hover or focus */
}

.navbar-nav {
  height: 40px;
  /* vertical-align: bottom; */
}

.signout {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  margin-right: 0;
}

.signout:hover {
  border-bottom: 1px solid;
}

.material-symbols-outlined {
  font-size: 25px;
  font-weight: lighter;
}
.stickToRight {
  position: absolute;
  right: 0;
}
