.signOutButton {
  font-family: "Tangerine", serif;
  margin-top: 15%;
  padding: 10px 20px;
  background-color: #EA1B0B; /* Red color */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.signOutButton:hover {
  background-color: #d32f2f; /* Darker shade for hover effect */
}
