:root {
    /*===== Colores =====*/
    --first-color: #1a73e8;
    --input-color: #80868b;
    --border-color: #dadce0;
  
    /*===== Fuente y tipografia =====*/
    --body-font: "Roboto", sans-serif;
    --normal-font-size: 1rem;
    --small-font-size: 0.75rem;
  }
  
  .registerPanel {
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    /* background-color: white; */
    width: 500px;
    height: 700px;
    border-radius: 1rem;
    box-shadow: 0 10px 25px rgba(92, 99, 105, 0.2);
  }
  
  .registerTitle {
    text-align: center;
    margin-bottom: 30px;
    font-family: "JK Abode", sans-serif;
    font-size: 52pt;
  }
  
  .registerForm {
    width: 400px;
  }
  
  .registerBox,
  .selectBox {
    margin-bottom: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70%;
    /* font-size:var(--normal-font-size); */
    /* border:1px solid var(--border-color); */
    /* border-radius: .5rem; */
    outline: none;
    /* padding:1rem; */
    /* background:none; */
    z-index: 0;
    /* margin-bottom: 40px; */
    display: block;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border-radius: 0.375rem;
    border: 0;
  }
  
  .registerform-label {
    position: absolute;
    left: 1rem;
    top: 10px;
    /* padding:0 .25rem; */
    /* background-color: #fff; */
    color: var(--input-color);
    font-size: var(--normal-font-size);
    transition: 0.3s;
    z-index: 1;
  }
  
  .registerBox:focus + .registerform-label {
    top: -0.5rem;
    left: 0.8rem;
    color: var(--input-color);
    font-size: var(--small-font-size);
    font-weight: 500;
    z-index: 10;
  }
  
  .selectBox:focus + .registerform-label {
    top: -0.5rem;
    left: 0.8rem;
    color: var(--input-color);
    font-size: var(--small-font-size);
    font-weight: 500;
    z-index: 10;
  }
  
  .registerBox:not(:placeholder-shown).registerBox:not(:focus)
    + .registerform-label {
    top: -0.5rem;
    left: 0.8rem;
    color: var(--input-color);
    font-size: var(--small-font-size);
    font-weight: 500;
    z-index: 10;
  }
  
  .selectBox:not(:placeholder-shown).selectBox:not(:focus) + .registerform-label {
    top: -0.5rem;
    left: 0.8rem;
    color: var(--input-color);
    font-size: var(--small-font-size);
    font-weight: 500;
    z-index: 10;
  }
  
  .registerBox:valid {
    background-color: rgb(248, 244, 226);
  }
  
  .registerBtn {
    width: 400px;
    height: 40px;
    margin-top: 20px;
    background-color: #0087e8;
    color: rgb(0, 0, 0);
    border: none;
  }
  
  .registerBtn:hover {
    background-color: #3ec1e6;
  }