:root {
    /*===== Colores =====*/
    --first-color: #1a73e8;
    --input-color: #686e74;
    --border-color: #dadce0;
  
    /*===== Fuente y tipografia =====*/
    --body-font: "Roboto", sans-serif;
    --normal-font-size: 1rem;
    --small-font-size: 0.75rem;
  }
  
  .wrapper {
    display: flex;
    align-items: center;
    /* height: 750px; */
  }
  
  .loginPanel {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    /* background-color: white; */
    width: 500px;
    height: 500px;
    border-radius: 1rem;
    box-shadow: 0 10px 25px rgba(92, 99, 105, 0.2);
  }
  
  .loginTitle {
    text-align: center;
    margin-bottom: 50px;
    font-family: "JK Abode", sans-serif;
    font-size: 52pt;
  }
  
  .loginForm {
    width: 400px;
  }
  
  .form-div {
    position: relative;
    height: 56px;
    margin-bottom: 1.5rem;
  }
  
  .inputBox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    /* font-size:var(--normal-font-size); */
    /* border:1px solid var(--border-color); */
    /* border-radius: .5rem; */
    outline: none;
    /* padding:1rem; */
    /* background:none; */
    z-index: 0;
    /* margin-bottom: 40px; */
    border: 0;
  }
  
  .form-label {
    position: absolute;
    left: 1rem;
    top: 10px;
    /* padding:0 .25rem; */
    /* background-color: #fff; */
    color: var(--input-color);
    font-size: var(--normal-font-size);
    transition: 0.3s;
    z-index: 1;
  }
  
  .inputBox:focus + .form-label {
    top: -0.5rem;
    left: 0.8rem;
    color: var(--input-color);
    font-size: var(--small-font-size);
    font-weight: 500;
    z-index: 10;
  }
  
  .inputBox:not(:placeholder-shown).inputBox:not(:focus) + .form-label {
    top: -0.5rem;
    left: 0.8rem;
    color: var(--input-color);
    font-size: var(--small-font-size);
    font-weight: 500;
    z-index: 10;
  }
  
  .inputBox:valid {
    /* background-color: rgb(248, 244, 226); */
  }
  
  .loginBtn {
    width: 400px;
    height: 40px;
    background-color: #0087e8;
    color: rgb(0, 0, 0);
    border: none;
    margin-bottom: 30px;
  }
  
  .loginBtn:hover {
    background-color: #3ec1e6;
  }
  
  .signup-link {
    margin-left: 20px;
    color: rgb(54, 54, 54);
  }
  
  .signup-link:hover {
    color: rgb(255, 255, 255);
  }